@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #323333;
    background-color: #EEEBEB;
    padding: 0;
    margin: 0;
}

a {
    color: #4AA0B8;
    text-decoration: inherit;
}

a:hover {
    color: #2C92AD;
}

h1 {
    font-weight: bold;
}

.speakers-page {
    margin: 0 3em;
    padding-top: 0.1px;
}

.speakers {
    display: flex;
    flex-wrap: wrap;
}

.speaker {
    width: 16.125em;
    height: 22em;
    background-color: white;
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
}

.speaker:hover {
    background: #d9d9d9;
    color: inherit;
}

.speaker:hover img {
    opacity: .8;
}


.speaker > div {
    padding: 0.75em;
    display: flex;
}

.speaker > h3 {
    font-weight: normal;
    font-size: 1.2rem;
}

.speaker > h3 > svg {
    width: 20px;
}

.speaker > img {
    width: 100%;
}

.speaker-tag {
    background-color: #8DB580;
    margin: 4px;
    color: white;
    font-weight: bold;
    font-size: 0.625em;
    line-height: 1em;
    text-transform: uppercase;
    padding: .5em .75em;
    border-radius: 0.125em;
}

.speaker-name {
    flex: 1;
}

.speaker-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4em;
}

.speaker-page > img {
    width: 13em;
    border-radius: 1000px;
    margin-top: 2em;
    margin-right: 5em;
    opacity: 0.8;
}

.speaker-page > div {
    flex: 1;
    max-width: 30em;
}

.speaker-page > div > .bio {
    color: #8E8685;
}

.speaker-page > div > ul  {
    list-style: none;
    margin: 0;
    padding: 0.75em 0;
}

.speaker-page > div > ul > li {
    letter-spacing: -.025em;
    line-height: 1.4em;
    font-size: 0.875em;
    color: #4AA0B8;
}
