<div class="speaker-page">
  <img src={{model.photoURL}}>
  <div>
    <h1>{{model.name}}</h1>



    {{!-- triple curlies could be dangerous if we start letting users edit the bio --}}
    {{{model.bioHTML}}}

    <ul>
      {{#each model.sessions as |session|}}
      <li>{{session.title}}</li>
      {{/each}}
    </ul>
  </div>
</div>