<div class="speakers-page">
  <h1>EmberConf 2017 Speaker Lineup</h1>
  <div class="speakers">
    {{#each model as |speaker|}}
      {{cardstack-content content=speaker format="card"}}
    {{/each}}
  </div>
</div>